name: Notify Labeled

on: workflow_dispatch

jobs:
  sendNotification:
      name: Send Test Notification
#     notify:
      runs-on: ubuntu-latest
      steps:
        - uses: actions-ecosystem/action-slack-notifier@v1
          with:
            slack_token: ${{ secrets.SLACK_TOKEN }}
            channel: ${{ secrets.CHANNEL_NAME }}
            message: 'This text is for notifications.<https://google.com|this is a link>'
            color: green # optional
            verbose: false # optional
